---
layout: handbook-page-toc
title: "Contributor Success Career Framework: Senior Fullstack Engineer"
description: "These are the expected competencies of a Senior Fullstack Engineer, Contributor Success at GitLab."
---

## On this page
{:.no_toc .hidden-md .hidden-lg}

- TOC
{:toc .hidden-md .hidden-lg}

## Senior Fullstack Engineer, Contributor Success

<%= partial("handbook/marketing/career-development/matrix/marketing/community-relations/contributor-success/cs_career_matrix_nav.erb") %>

**Senior Fullstack Engineers, Contributor Success at GitLab are expected to exhibit the following competencies:**

* [Leadership Competencies](#leadership-competencies)
* [Technical Competencies](#technical-competencies)
* [Values Alignment](#values-alignment)

---

### Leadership Competencies

<%= partial("handbook/engineering/career-development/matrix/engineering/engineering_senior_leadership_competency.erb") %>

### Technical Competencies

<%= partial("handbook/engineering/career-development/matrix/engineering/engineering_senior_technical_competency.erb") %>

##### Contributor Success

Please refer to [Senior Contributor Success Fullstack Engineer](https://about.gitlab.com/job-families/marketing/community-relations/contributor-success/fullstack-engineer/#senior-contributor-success-fullstack-engineer)

### Values Alignment

<%= partial("handbook/engineering/career-development/matrix/engineering/values_competency.erb") %>
