---
layout: markdown_page
title: "📈 Category Direction - Planning Analytics"
canonical_path: "/direction/plan/project_management/planning_analytics/"
---

This direction page was last reviewed on:
<%= partial("/direction/plan/project_management/planning_analytics/last_updated") %>

- TOC
{:toc}

| Category | **Planning Analytics** |
| --- | --- |
| Stage | [Plan](https://about.gitlab.com/handbook/product/categories/#plan-stage) |
| Group | [Project Management](https://about.gitlab.com/handbook/product/groups/project-management-group) |
| Maturity | [Minimal](/direction/maturity/) |

## Introduction and how you can help

👋 This is the category strategy for Planning Analytics in GitLab, which is part of the Project Management group with the Plan stage. Please reach out to the group's Product Manager, [Gabe Weaver](https://gitlab.com/gweaver) ([E-mail](mailto:gweaver@gitlab.com)), if you'd like to provide feedback or ask any questions related to this product category.

This strategy is a work in progress and everyone can contribute:

- Please comment and contribute to the related [issues](https://gitlab.com/groups/gitlab-org/-/issues?sort=created_date&state=opened&label_name[]=Category:Planning+Analytics) and [epics](https://gitlab.com/groups/gitlab-org/-/epics?state=opened&page=1&sort=start_date_desc&label_name[]=Category:Planning+Analytics). Sharing your feedback directly on GitLab.com is the best way to contribute to our strategy and vision.
- Please share feedback directly via email, Twitter, or [schedule a quick Zoom for us to connect](https://calendly.com/gweaver/45-minute-meeting).

## Category Overview

<%= partial("/direction/plan/project_management/planning_analytics/overview") %>

### Target audience

<%= partial("direction/plan/templates/target_audience") %>

## 1 Year Plan

### What we recently completed 

<%= partial("/direction/plan/project_management/planning_analytics/recent_accomplishments") %>

### What we are currently working on 

<%= partial("/direction/plan/project_management/planning_analytics/current_focus") %>

Our group level [issue board](https://gitlab.com/groups/gitlab-org/-/boards/1235826?&label_name[]=devops%3A%3Aplan&label_name[]=group%3A%3Aproject%20management) provides detailed insight into everything currently in flight.

### What's next for us 

<%= partial("/direction/plan/project_management/planning_analytics/whats_next") %>

### What we're not doing

<%= partial("/direction/plan/project_management/planning_analytics/not_doing") %>

## Maturity plan

<%= partial("/direction/plan/project_management/planning_analytics/maturity_plan") %>

## Performance indicators

<%= partial("/direction/plan/project_management/performance_indicators") %>

## Competitive landscape

There are many factors that are involved in a decision to purchase GitLab vs another company, including pricing, packaging, marketing, sales capabilities, etc. This page focuses primary on the product feature comparison of GitLab vs other companies related to the GitLab Planning Analytics category.

### Key gaps to close

When customers evaluate GitLab as a planning solution, we most frequently are compared against Jira. To enable broad migration from competitors such as Jira, Digital.ai, and Azure DevOps to GitLab Plan, we need to move as many of the 🔴 and 🟡 use cases to 🟢 as possible. The following gaps are being tracked on the [Planning Analytics HQ Epic](https://gitlab.com/groups/gitlab-org/-/epics/7422).

| Feature | GitLab | Jira |
| ------- | ------ | ---- |
| Velocity & volatility | 🔴 | 🟡 |
| Time spent waiting | 🔴 | 🟡  |
| Work item load  | 🔴 | 🟡  |
| Work item distribution | 🟡  | 🟢 |
| Cumulative flow diagrams | 🔴 | 🟡 |
| Montecarlo simulations  | 🔴 | 🔴 |
| Forecasting & predictive analytics | 🔴 | 🔴 |
| Burnup/down charts | 🟡 | 🟢 |
| Planned vs. unplanned vs. delivered over time | 🔴 | 🔴 |
| Timebox change event reporting | 🔴 | 🟢 |
| Key metrics integrated into planning views & workflows | 🔴 | 🟡 |

- 🔴 Does not meet customer expectations and needs
- 🟡 Partially meets customer expectations and needs, but there is significant room for improvement.
- 🟢 Satisfies customer needs and supports the majority of use cases.

## Analyst landscape

<%= partial("/direction/plan/project_management/analyst_landscape") %>

## Most requested issues

- [All users](https://gitlab.com/gitlab-org/gitlab/-/issues?sort=popularity&state=opened&label_name[]=group::project+management&label_name[]=Category:Planning+Analytics)
- [Customer / Customer Success](https://gitlab.com/gitlab-org/gitlab/-/issues?sort=popularity&state=opened&label_name[]=group::project+management&label_name[]=customer&label_name[]=Category:Planning+Analytics)
- [Dogfooding](https://gitlab.com/gitlab-org/gitlab/-/issues?sort=popularity&state=opened&label_name[]=group::project+management&label_name[]=Dogfooding&label_name[]=Category:Planning+Analytics)

## Top strategy items

While we are not currently working on the items listed within this section, we believe that solving for them will significantly contribute to [Plan's 3-year strategy](https://about.gitlab.com/direction/plan/#3-year-strategy). Once validated and team capacity is available, we will move these strategic items into our queue for prioritization and implementation. 

### Enterprise planning frameworks support

See the [Team Planning Category Direction](/direction/plan/project_management/planning_analytics)

### Use DevOps data to guide planning

<%= partial("/direction/plan/project_management/theme_devops_data") %>

### Automation and machine learning to improve quality of life

See the [Team Planning Category Direction](/direction/plan/project_management/planning_analytics)

## Jobs To Be Done 

We are currently focused on providing industry-leading solutions for the following [Jobs To Be Done (JTBD)](https://about.gitlab.com/handbook/product/ux/jobs-to-be-done/):

<%= partial("direction/jtbd-list", locals: { stage_key: "planning_analytics" }) %>
